﻿h1 .orange {
    box-sizing: border-box;
    font-size: 2.125em;
    margin: 0px;
    padding: 0px;
    direction: ltr;
    font-family: Quicksand,sans-serif;
    font-style: normal;
    color: rgb(228, 79, 37);
    text-rendering: optimizelegibility;
    line-height: 1.4;
    font-weight: 400;
    text-transform: uppercase;
    font-variant: normal;
    letter-spacing: 1.5px;
    text-align: center;
    text-indent: 0px;
    white-space: normal;
    word-spacing: 0px;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
}

.horizontal-list {
    display: inline-block;
    list-style-type: none;
    padding-right: 20px;
}

.paging {
    text-decoration: none;
    font-family: "Montserrat",sans-serif;
    color: #fff;
    background: #e44f25;
    padding: 15px 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: .875em;
    border: 1px solid #fff;
    margin-bottom: 20px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    -webkit-box-shadow: 2px 2px 2px 0 #e5e5e5;
    -moz-box-shadow: 2px 2px 2px 0 #e5e5e5;
    box-shadow: 2px 2px 2px 0 #e5e5e5;
    min-width: 48px;
}

.pg-equalise {
    padding: 15px 18px;
}

.pg-lnk {
    color: white;
    padding-left: 2px;
    padding-right: 2px;
}

.pg-active {
    background-color: white;
    color: #e44f25;
    border: 1px solid #e44f25;
}

.pnl-link {
    background-color: transparent !important;
}

.btn-go:active {
    top: 1px;
}

.blog {
    color: rgb(228, 79, 37);
    font-family: "Montserrat",sans-serif;
    text-align: right;
    font-size: 0.8em;
}

pre.prettyprint {
    font-family: "Montserrat",sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.9em;
    background: none repeat scroll 0% 0% #FEF6F4;
    border: 1px solid transparent;
}

#footer-links a {
    color: #7f7e7e;
}

#footer-links li.orange a:hover {
    color: #e44f25;
}

#footer-links li.dark-green a:hover {
    color: #10763c;
}

#footer-links li.green a:hover {
    color: #1bac4b;
}

#footer-links li.white a:hover {
    color: white;
}

#footer-links li.grey a:hover {
    color: white;
}

.ctaImg {
    display: inline-block;
    max-width: 328px;
}

.ctaRow {
    padding-top: 30px;
}

.centre {
    text-align: center;
}

.price-pnl {
    padding-top: 15px;
}
