﻿@media only screen and (max-width: 1300px) {

    #mainpic {
        height: auto;
        padding-bottom: 30px;
        padding-top: 30px;
    }

        #mainpic .summary {
            padding-top: 17vh;
            padding-bottom: 17vh;
        }
     
        .slide-right-img {
            padding-left:0;
        }
        .slide-right {
            left:15px !important;
            /*margin-right: 35px !important;*/
        }
    
      
}

@media only screen and (max-width: 768px) {
    /*.phone-pic {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        float: none !important;
    }*/

    #mainpic {
        height: auto;
        padding-bottom: 0;        
    }

        #mainpic .summary {
            padding-top: 15px;
            padding-bottom: 15px;
            margin-top: 0;
        }
             
}

@media only screen and (min-width: 768px) {
    .paging:hover {
        background: #ef9880;
        border: 1px solid #ef9880;
    }

    .pg-active:hover {
        color: white;
    }

    #contact-us a.btn-contact:hover {
        background: #ef9880;
    }

    #contact_form .btn-submit:hover {
        background: #ef9880;
    }

    #contact_form .btn-reset:hover {
        color: #E44F25;
    }

    #contact_form aside a:hover {
        text-decoration: underline;
    }    

    .contact_form .btn-submit:hover {
        background: #ef9880;
    }

    .contact_form aside a:hover {
        text-decoration: underline;
    }

    #mainpic .hme-bnr-hdr {
        font-size: 3.5em;
    }

     
}

@media only screen and (max-width: 480px) {
    #contact-us a.btn-contact {
        padding: 15px 30px;
    }

    pre.prettyprint {
        font-size: 0.7em;
        word-wrap: break-word;
    }

    #mainpic h1 {
        font-size: 2em;
    }

    .ctaImg {
        max-width:100%;
    }    
}

@media only screen and (max-width: 320px) {
    #contact-us a.btn-contact {
        padding: 15px 15px;
    }

    #mainpic {
        background-position: center center;
    }

        #mainpic h1 {
            font-size: 1.7em;
        }
}
