

/**umb_name:Orange Header*/
.orange-hdr{color: rgb(228, 79, 37);font-size: 2.125em;  font-family: Quicksand,sans-serif; line-height: 1.4;     font-weight: 400;    margin: 0px;     padding: 0px;    text-transform: uppercase;     font-variant: normal;     letter-spacing: 1.5px;     text-align: center;    text-indent: 0px;     white-space: normal;     word-spacing: 0px;     max-width: 100%;}

/**umb_name:Article Text*/
.article{color: #454545;}

/**umb_name:Price*/
.price{font-family: Montserrat, sans-serif;text-transform: uppercase;color: #525252;font-size: 1.6em;}

/**umb_name:Pricing Text*/
.pricingText{color: #2795b6;}

/**umb_name:Pricing Title*/
.PricingTitle{color: #8a8a8a;}