﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ var home = CurrentPage.Site();}

<div id="copyright">
    <div class="row">
        <div class="large-9 columns">
            <p>@home.address</p>
            <p>Email: <a href="mailto:@home.email" class="footerLink">@home.email</a></p>
        </div>
        <div class="large-3 columns">
            <p>@home.vatNumber</p>
        </div>
    </div>
</div>