﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ var menuColour = CurrentPage.menuColour;
    if (!String.IsNullOrEmpty(menuColour))
    {
        menuColour = CurrentPage.MenuColour;
    }
    else if (!String.IsNullOrEmpty(CurrentPage.Parent.menuColour))
    {
        menuColour = CurrentPage.Parent.menuColour;
    }
    else
    {
        menuColour = "orange";
    }
}

@if (!String.IsNullOrEmpty(menuColour))
{
    <header id="brandcontrol" class="header-@{@menuColour}">
        <div class="row">
            <div class="large-12 columns">
                <h1 class="wide100">@CurrentPage.name</h1>
            </div>
        </div>
    </header>
    }