﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

	 <section id="testimonial">
        <div class="row">
            <div class="large-12 columns">
                <blockquote>
                    <div class="justify quoteScreenCorrect">
                        @CurrentPage.quoteText
                        <cite class="centreText">
                            @CurrentPage.quotePerson
                            <span>@CurrentPage.quotejobtitle</span>
                        </cite>
                    </div>
                </blockquote>
            </div>
        </div>
    </section>