﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

	<article class="blurb">
    <div class="row">
        <div class="large-12 columns">
            <h2 class="maxWidth">@CurrentPage.pageTitle</h2>
            @if (!String.IsNullOrEmpty(@CurrentPage.youtubeVideo1))
            {
                @Html.Partial("Content/Simple Content Page/Youtube Embed")
            }
            @if (CurrentPage.HasValue("basicgridcontent") && CurrentPage.basicgridcontent.ToString().Length > 2)
            {
                @CurrentPage.GetGridHtml("basicgridcontent")
            }
            else
            {
                @CurrentPage.textContent
            }
        </div>
    </div>
</article>