﻿@using Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@if (!String.IsNullOrEmpty(@CurrentPage.menuColour))
{
    <header id="brandcontrol" class="header-@{@CurrentPage.menuColour}">

        <div class="row">
            <div class="large-12 columns">
                <h1 class="maxWidth">@CurrentPage.Name</h1>
            </div>
        </div>
    </header>
}
else
{
    <header id="brandcontrol" class="header-orange">
        <div class="row">
            <div class="large-12 columns">
                <h1 class="maxWidth">@CurrentPage.Name</h1>
            </div>
        </div>
    </header>
}

<section id="contact-us">
    <div class="row">
        <div class="large-12 columns large-centered padding-top30px">
            <div id="contact_form" style="display: block;">
                @{ Html.RenderPartial("Partials/Contact Form Partials/Contact Form", new ContactFormViewModel()); }
                @{ Html.RenderPartial("Partials/Contact Form Partials/Contact Info Panel"); }                
            </div>
        </div>
    </div>
</section>