﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;    
	
	var currentHost = "http://" + HttpContext.Current.Request.Url.Host;
	var currentUrl = HttpContext.Current.Request.Url.AbsoluteUri;
	var image = currentHost + @Umbraco.Media(CurrentPage.socialImage.ToString()).Url;
}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <title>@CurrentPage.title</title>
    <meta name="author" content="Kumquat Computing" />
    <meta name="description" content="@CurrentPage.description" />
    <meta name="keywords" content="@CurrentPage.keywords" />
	
	<!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="@CurrentPage.title">
    <meta itemprop="description" content="@CurrentPage.description">
    <meta itemprop="image" content="@image">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="@CurrentPage.title">
    <meta name="twitter:description" content="@CurrentPage.description">
    <meta name="twitter:creator" content="">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="@image">
    <!-- Open Graph data -->
    <meta property="og:title" content="@CurrentPage.title">
    <meta property="og:type" content="article">
    <meta property="og:url" content="@currentUrl">
    <meta property="og:image" content="@image">
    <meta property="og:description" content="@CurrentPage.description">
    <meta property="og:site_name" content="Kumquat Computing">
	
    <link rel="apple-touch-icon" sizes="57x57" href="~/Favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Favicons/favicon-16x16.png">
    <link rel="manifest" href="~/Favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    @*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
    <link href="/css/normalize.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/Prettify.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Quicksand|Montserrat' rel='stylesheet' type='text/css'>
    @*<link href="/css/app.min.css" rel="stylesheet" type="text/css" media="all" />*@
    <link href="/css/app.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Css/rte.css" rel="stylesheet" type="text/css" media="all" />    
    <script src="/scripts/js/vendor/custom.modernizr.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <link href="~/Css/custom-styles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Css/media-queries.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width" />
</head>

<body id="inner">
    @{ Html.RenderPartial("Navigation/Mobile Navigation"); }
    <div class="page-container">        
        @if (CurrentPage.DocumentTypeAlias != "KumquatCta")
        {
            <header id="header">
                @{ Html.RenderPartial("Navigation/MainNavigation"); }
            </header>
        }

        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
            <section id="contact-us">
                @{ Html.RenderPartial("Partials/Contact Form Partials/Contact Container"); }
            </section>
        </div>

        <a href="#" class="btn btn-top"><span>TOP</span></a>
        <footer id="footer">
            @{ Html.RenderPartial("Navigation/BottomNavigation"); }
            @{ Html.RenderPartial("Content/Common/Company Details"); }
        </footer>
    </div>

    @{ Html.RenderPartial("Analytics/Google Analytics");}

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.3.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script src="/scripts/js/vendor/jquery.lazyload.min.js"></script>
    
    <script src="/Scripts/jquery.fadethis.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script>
$(document).ready(function() {
$(window).fadeThis();
});
    </script>



    <script src="/scripts/js/app.min.js"></script>
    <script src="/scripts/js/site.min.js"></script>
    <script>$(document).foundation();</script>
</body>



</html>