﻿.clearfix {
    clear: both;
    float: none;
    display: block;
}

.comment-top-menu {
    padding: 0 30px 20px 20px;
    border-bottom: 1px dotted #d3d3d3;
    position: relative;
}

.comment-container {
    width: 100%;
}

.comment-item:hover {
    background-color: rgba(60,255,0,0.3);
    border: 2px thick rgba(60,255,0,1);
    cursor: pointer;
    border-radius: 0;
}

.comment-avatar img {
    max-width: 40px;
    position: absolute;
    left: 40px;
    border-radius: 5px;
}

.comment-item {
    padding: 10px 20px 35px 90px;
    width: 100%;
    float: left;
    position: relative;
    border-bottom: 1px dotted #ddd;
    background-color: transparent;
}

    .comment-item .comment-item {
        padding-left: 70px;
        margin-bottom: 0;
    }

    .comment-item > .comment-replies > .comment-item {
        padding-right: 30px;
    }

.comment-header {
    font-size: 12px;
}

.commenter-name {
    color: #008b8b;
    font-weight: bold;
}

.comment-date {
    color: #008b8b;
}

.commenter-email {
}

.commenter-ip-address {
    color: #008b8b;
}

.comment-website {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

.comment-content {
}

.comment-footer {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

    .comment-footer a {
        color: #008b8b;
    }

.comment-control {
    width: 100%;
    text-align: left;
    left: 40px;
    position: absolute;
}

    .comment-control a, a.comment-link {
        color: #008b8b;
        font-size: 12px;
        cursor: pointer;
    }

a.comment-link {
    margin-left: -50px;
}

.comment-reply {
    display:none;
}

    .comment-reply.open {
        display:block;
        padding-bottom:5px;
    }

.comment-replies {
    max-height: 600px;
    transition: 1s;
    overflow-y: scroll;
}

    .comment-replies.hidden {
        max-height: 0;
        overflow: hidden;
    }

.comment-detail-link {
    color: #008b8b;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

.commenter-detail-name {
    color: #008b8b;
    font-weight: bold;
    font-size: 12px;
}

.comment-detail-date {
    color: #008b8b;
    font-size: 11px;
}

.comment-detail-message {
    font-size: 14px;
}

.comment-in-reply-text {
    font-size: 12px;
    color: #b3b3b3;
}

.child-date {
    font-size:10px;
}

.comment-reply-to {
    border-left: 1px solid #d3d3d3;
    padding-left: 10px;
    font-size: 12px;
    color: #b3b3b3;
    margin-bottom: 5px;
}

.search-clear {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
}

.comment-user-detail {
    padding-top: 5px;
    padding-bottom: 25px;
    border-top: 1px dotted #d3d3d3;
    margin-top: 25px;
}

    .comment-user-detail .user-section {
        float: left;
        width: 50%;
    }

.user-section .comment-avatar img {
    position: relative;
    left: 0;
    float: left;
}

.comment-user-detail .user-control {
    float: left;
    width: 50%;
}

.comment-control-detail {
    width: 100%;
    text-align: left;
}

    .comment-control-detail a {
        color: #008b8b;
        font-size: 12px;
        cursor: pointer;
    }

.user-section .comment-header {
    padding-left: 10px;
    float: left;
}

.user-section .commenter-email {
    font-size: 12px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d3d3d3;
}

.user-section .commenter-ip-address {
    font-size: 12px;
    color: #d3d3d3;
}

.paging-item {
    float: left;
    cursor: pointer;
    margin-right: 3px;
}

    .paging-item.current {
        color: #008b8b;
    }

.v-spacer {
    height: 50px;
    width: 100%;
    clear: both;
}

a.disabled {
    color: #d3d3d3;
}

    a.disabled:hover {
        text-decoration: none;
        cursor: default;
    }

span .checkbox {
    position: absolute;
    left: 20px;
    padding-left: 0;
    margin-top: 1px;
}
