﻿@using System.Web.UI.WebControls
@using Umbraco.Web.Mvc
@*<form action="https://service.capsulecrm.com/service/newlead" method="post">*@
@*<input type="hidden" name="FORM_ID" value="19353bb8-45ae-4c30-bfee-c83975ab1f14">
    <input type="hidden" name="COMPLETE_URL" value="/contact-us/success/">*@
@*First name: <input type="text" name="FIRST_NAME">
    Last name: <input type="text" name="LAST_NAME">*@
@*Email: <input type="text" name="EMAIL">
    <input type="submit" value="Submit" />*@
@*</form>*@


@model Models.ContactFormViewModel

<form action="https://service.capsulecrm.com/service/newlead" method="post">

    <input type="hidden" name="FORM_ID" value="19353bb8-45ae-4c30-bfee-c83975ab1f14">
    <input type="hidden" name="COMPLETE_URL" value="http://localhost:27631/contact-us/success/">



    @using (Html.BeginUmbracoForm<ContactFormSurfaceController>("ContactForm"))
    {
        <div class="large-7 columns">
            <div>
                <input type="hidden" name="DEVELOPER" value="TRUE" />

                <div class="field">
                    @Html.LabelFor(model => model.Name, "Name", new { @class = "field-required" })
                    <div>
                        @Html.ValidationMessageFor(model => model.Name)
                        @*@Html.TextBoxFor(model => model.Name, new { @class = "field-text", @placeholder = "e.g. 'John' ", name = "NAME" })*@
                        <input type="text" name="FIRST_NAME" class="field-text" placeholder="e.g. 'John' ">
                    </div>
                </div>

                <div class="field">
                    @Html.LabelFor(model => model.Email, "Email", new { @class = "field-required" })
                    <div>
                        @Html.ValidationMessageFor(model => model.Email)
                        @*@Html.TextBoxFor(model => model.Email, new { @class = "field-text", @placeholder = "e.g. 'John@example.com' ", name = "EMAIL" })*@
                        <input type="text" name="EMAIL" class="field-text" placeholder="e.g. 'John@example.com' ">
                    </div>
                </div>

                <div class="field">
                    @Html.LabelFor(model => model.Phone, "Telephone Number")
                    <div>
                        @Html.ValidationMessageFor(model => model.Phone)
                        @Html.TextBoxFor(model => model.Phone, new { @class = "field-text", @placeholder = "e.g. '01234 567890' " })
                    </div>
                </div>


                <div class="field">
                    @Html.LabelFor(model => model.CompanyName, "Company Name")

                    <div>
                        @Html.ValidationMessageFor(model => model.CompanyName)
                        <input type="text" name="ORGANISATION_NAME" class="field-text" placeholder="e.g. 'e.g. 'Example Company LTD' ' ">
                    </div>
                </div>

                <div class="field">
                    @Html.LabelFor(model => model.CompanyName, "Message")
                    <div>
                        @Html.ValidationMessageFor(model => model.Message)
                        @Html.TextAreaFor(model => model.Message, new { @class = "field-text", @placeholder = "e.g. 'Example message here...' " })
                    </div>
                </div>

                <div>
                    <input type="submit" class="btn-submit" value="Submit" />
                    <input class="btn-reset" value="Reset" type="reset">
                </div>

            </div>
        </div>
    }
</form>