﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{var home = @CurrentPage.Site();}

<div class="large-4 columns contactBox contactLink">
    <aside>
        <p>
            <span>email:</span>
            <a href="mailto:info@kumquatcomputing.co.uk" class="contactLink">@home.email</a>
        </p>
        <p>
            <span>telephone:</span>
            <span>@home.telephone</span>
        </p>
    </aside>
</div>