﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Models
@{
    var addId = "";
    if (CurrentPage.DocumentTypeAlias == "KumquatCta")
    {
        addId = "active";
    }
}

<div class="row">
    @if (CurrentPage.DocumentTypeAlias != "KumquatCta")
    {
        <div class="large-6 large-centered columns padding-top80px text-center">
            @{ Html.RenderPartial("Partials/Contact Form Partials/Contact Button"); }
        </div>
                }
    <div id="contact_form@(@addId)" class="padding-top80px large-12 columns">
        @{ Html.RenderPartial("Partials/Contact Form Partials/Dynamic Contact Form", new ContactFormViewModel()); }
        @{ Html.RenderPartial("Partials/Contact Form Partials/Contact Info Panel"); }
    </div>

</div>