﻿@using System.Web.UI.WebControls
@using Umbraco.Web.Mvc

@model Models.ContactFormViewModel

@using (Html.BeginUmbracoForm<ContactFormSurfaceController>("ContactForm"))
{
    <div class="large-7 columns">
        <div class="field">
            @Html.LabelFor(model => model.Name, "Name", new { @class = "field-required" })
            @Html.ValidationMessageFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "field-text", @placeholder = "e.g. 'John' " })
        </div>

        <div class="field">
            @Html.LabelFor(model => model.Email, "Email", new { @class = "field-required" })
            @Html.ValidationMessageFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { @class = "field-text", @placeholder = "e.g. 'John@example.com' " })
        </div>

        <div class="field">
            @Html.LabelFor(model => model.Phone, "Telephone Number")
            @Html.ValidationMessageFor(model => model.Phone)
            @Html.TextBoxFor(model => model.Phone, new { @class = "field-text", @placeholder = "e.g. '01234 567890' " })
        </div>

        <div class="field">
            @Html.LabelFor(model => model.CompanyName, "Company Name")
            @Html.ValidationMessageFor(model => model.CompanyName)
            @Html.TextBoxFor(model => model.CompanyName, new { @class = "field-text", @placeholder = "e.g. 'Example Company LTD' " })
        </div>

        <div class="field">
            @Html.LabelFor(model => model.Message, "Message")
            @Html.ValidationMessageFor(model => model.Message)
            @Html.TextAreaFor(model => model.Message, new { @class = "field-text", @placeholder = "e.g. 'Example message here...' " })
        </div>

        <input type="submit" class="btn-submit" value="Submit" />
        <input class="btn-reset" value="Reset" type="reset">
    </div>
}