﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var node = Umbraco.Content(CurrentPage.featuredCTA.ToString());
}
	  <section class="page-cta cta-green">
        <img data-original="@Umbraco.Media(@node.contentImage.ToString()).Url" class="fade-image" alt="@node.ctaImageAltTag" />
        <div class="row">
            <div class="large-12 columns">
                <h2>@node.ctaItemTitle</h2>
                <h3>@node.pageSummary</h3>
                <a href="@node.Url" class="btn btn-go">@node.buttonText</a>
            </div>
        </div>
    </section>