﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
		
<div class="row bottomSpacer">
    <div class="video-container">
        <iframe width="750" height="422" src="//www.youtube.com/embed/@CurrentPage.youtubevideo1" frameborder="0" allowfullscreen=""></iframe>       
    </div>
</div>