﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var home = @CurrentPage.Site();
    //var node = Umbraco.Content(home.ctaPage);
    var node = CurrentPage;
    var image = Umbraco.Media(@node.ctaItemImage.ToString()).Url;
}

@if (!String.IsNullOrEmpty(@home.ctaPage.ToString()))
{
    <section id="mainpic" style="background-image: url(@Umbraco.Media(@node.ctaBackgroundImage.ToString()).Url);">
        <div class="row">
            <div class="shadow"></div>
            <div class="small-12 medium-12 large-8 columns" style="float:right;">
                <div class="summary">
                    <div class="centre">
                        <img src="@Umbraco.Media(home.siteLogo.ToString()).Url" alt="Kumquat Computing" />
                    </div>
                    <h1 class="maxWidth hme-bnr-hdr">@node.ctaItemTitle</h1>
                    <p>@node.ctaItemText</p>
                    <div class="featured-links">
                        <a href="#contact-us">@node.buttonText</a>
                    </div>
                </div>
            </div>

            <div class="small-12 medium-12 large-4 columns phone-pic">
                @*<a href="#contact-us"><img data-original="@image" class="fade-image" alt="@node.ctaImageAltTag" /></a>*@
                <img data-original="@image" class="fade-image" alt="@node.ctaImageAltTag" />
            </div>
        </div>
    </section>   
}