﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var home = CurrentPage.Site();
    //var ctaPage = Umbraco.Content(home.ctaPage);
    var ctaPage = CurrentPage;
}
@*<a href="#contact-us"  class="btn-contact">*@
<section id="case-studies">
    <a href="#contact-us">
        <div class="row">
            <div class="large-8 large-centered columns">
                <header>
                    <h1>@ctaPage.pricingTitle</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="large-4 large-centred columns blurb price-pnl">
                @ctaPage.plan1
            </div>
            <div class="large-4 large-centred columns blurb price-pnl">
                @ctaPage.plan2
            </div>
            <div class="large-4 large-centred columns blurb price-pnl">
                @ctaPage.plan3
            </div>
        </div>
    </a>
    <div class="row">
        <div class="large-8 large-centered columns" style="margin-top: 25px;">
            @ctaPage.pricingDisclaimer
        </div>
    </div>
</section>