﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var home = @CurrentPage.Site();
    //var ctaPage = Umbraco.Content(home.ctaPage);
    var ctaPage = CurrentPage;
}

    <section id="service-cta" style="max-width:100%;">
    <div class="row ctaRow">
        @if (!string.IsNullOrEmpty(Umbraco.Media(@ctaPage.ctaImage1.ToString()).Url))
            {
            <div class="small-12 large-6 columns">
                <div id="test" class="slide-left centre">
                    <img class="ctaImg" src="@Umbraco.Media(@ctaPage.ctaImage1.ToString()).Url" alt="Blaenavon Life App Image">
                </div>
            </div>
        }
        <div class="small-12 large-6 columns">
            @ctaPage.ctaText1
        </div>
    </div>

    <div class="row ctaRow">
        @if (!string.IsNullOrEmpty(Umbraco.Media(@ctaPage.ctaImage2.ToString()).Url))
            {
            <div class="small-12 large-6 push-6 columns slide-right-img">
                    <div id="test" class="slide-right centre">
                        <img class="ctaImg" src="@Umbraco.Media(@ctaPage.ctaImage2.ToString()).Url" alt="Blaenavon Life App Image">
                    </div>      
                </div>
        }
        <div class="small-12 large-6 pull-6 columns">
            @ctaPage.ctaText2
        </div>

    </div>
    <div class="row ctaRow">
        @if (!string.IsNullOrEmpty(Umbraco.Media(@ctaPage.ctaImage3.ToString()).Url))
            {
            <div class="small-12 large-6 columns">
                <div id="test" class="slide-left centre">
                    <img class="ctaImg" src="@Umbraco.Media(@ctaPage.ctaImage3.ToString()).Url" alt="Blaenavon Life App Image">
                </div>
            </div>
        }
        <div class="small-12 large-6 columns">
            @ctaPage.ctaText3
        </div>
    </div>
</section>