﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@if (!String.IsNullOrEmpty(@CurrentPage.ctaPage.ToString()))
{
    var node = Umbraco.Content(CurrentPage.ctaPage);
    var home = @CurrentPage.Site();
    var image = Umbraco.Media(@node.ctaItemImage.ToString()).Url;

    <section id="mainpic" style="background-image: url(@Umbraco.Media(@node.ctaBackgroundImage.ToString()).Url);">
        <div class="row">
            <div class="shadow"></div>
            @*<div class="phone-pic"><a href="@node.Url"><img data-original="@image" class="fade-image" alt="@node.ctaImageAltTag" /></a></div>*@   

            <div class="small-12 medium-12 large-8 columns" style="float:right;">
                <div class="summary">
                    @if (CurrentPage.DocumentTypeAlias == "KumquatCta")
                    {
                        <div class="centre">
                            <img src="@Umbraco.Media(home.siteLogo.ToString()).Url" alt="Kumquat Computing" />
                        </div>
                    }
                    <h1 class="maxWidth hme-bnr-hdr">@node.ctaItemTitle</h1>
                    <p>@node.ctaItemText</p>
                    <div class="featured-links">
                        <a href="@node.Url">@node.buttonText</a>
                        @*<a href="#contact-us">@node.buttonText</a>*@
                    </div>
                </div>
            </div>

            <div class="small-12 push-12 medium-12 large-4 columns phone-pic">
                @*<a href="@node.Url"><img data-original="@image" class="fade-image" alt="@node.ctaImageAltTag" /></a>*@
                <img data-original="@image" class="fade-image" alt="@node.ctaImageAltTag" />
            </div>

        </div>
    </section>
}