﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

	<section id="service-cta">
    <div class="row">
        <div class="large-12 columns">
            <h2>@CurrentPage.pageTitle</h2>
            <p class="justify">@CurrentPage.textContent</p>
        </div>
    </div>
</section>