﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	
@if (!String.IsNullOrEmpty(@CurrentPage.ctaPage2.ToString()))
    {
        var node = Umbraco.Content(CurrentPage.ctaPage2);

        <a href="@node.Url">
            <section id="case-studies">
                <div class="row">
                    <div class="large-8 large-centered columns">
                        <header>
                            <h1>@node.ctaItemTitle</h1>
                            <h2>@node.ctaItemText</h2>
                        </header>
                        <figure>
                            <img data-original="@Umbraco.Media(@node.ctaItemImage2.ToString()).Url" class="fade-image client-logo" alt="@node.ctaImageAltTag2" />
                            <img data-original="@Umbraco.Media(@node.ctaItemImage.ToString()).Url" class="fade-image" alt="@node.ctaImageAltTag" />
                        </figure>
                    </div>
                </div>
            </section>
        </a>
    }