﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var position = "";
    if (!String.IsNullOrEmpty(CurrentPage.author))
    {
        position = "(" + @CurrentPage.position + ")";
    }
}
<article>
    <div class="row">
        <div class="large-12 columns">
            @if (!String.IsNullOrEmpty(CurrentPage.author))
            {
                <p class="blog">@CurrentPage.author @position</p>
            }
            else
            {
                <p class="blog">@CurrentPage.WriterName</p>
            }
            <p class="blog">@CurrentPage.UpdateDate.ToString("D")</p>
        </div>
    </div>
</article>