﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<article>
    <div class="row">
        <div class="large-12 columns">
            @Umbraco.RenderMacro("UCommentator")
        </div>
    </div>
</article>