﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var home = @CurrentPage.Site();
    var children = CurrentPage.Children;
    var defaultMedia = Umbraco.Media(home.defaultImage.ToString());
    var itemCount = 1;
    var page = 1;    
    var pageSize = CurrentPage.pagedItems;
    int.TryParse(Request.QueryString["page"], out page);
    var totalPages = (int)Math.Ceiling((double)CurrentPage.Children.Count() / (double)pageSize);    
}

@{
    if (page > totalPages)
    {
        page = totalPages;
    }
    else if (page < 1)
    {
        page = 1;
    }
}

@foreach (var post in children.OrderBy("createDate desc").Where("Visible").Skip((page - 1) * pageSize).Take(pageSize))

{
    itemCount++;

    <section class="page-cta cta-green">
        <a href="@post.Url" class="pnl-link">
            @if (@post.contentimage != null && !(@post.contentimage is Umbraco.Core.Dynamics.DynamicNull))
                {
                    var m = Umbraco.Media(@post.contentimage);
                <img class="wideImage fade-image" data-original="@m.Url" alt="@m.UrlName" />
            }
            else
            {
                foreach (var item in defaultMedia.Children.Random(1))
                {
                    <img class="wideImage fade-image" data-original="@item.umbracoFile" alt="" src="@item.umbracoFile" alt="" />
                }
            }

            <div class="row">
                <div class="large-12 columns">
                    @if (!post.HasValue("pageTitle"))
                {
                        <h2>@post.ctaItemTitle</h2>
                    }
                    else
                    {
                        <h2>@post.pageTitle</h2>
                    }
                    <h3>@post.ContentText</h3>
                    <h3>@post.pageSummary</h3>                    

                    @if (post.HasValue("buttonText"))
                {
                        <a href="@post.Url" class="btn btn-go">@post.buttonText</a>
                    }
                    else
                    {
                        <a href="@post.Url" class="btn btn-go">Find Out More</a>
                    }

                </div>
            </div>

        </a>
    </section>
}


@*//Just pagination display here.*@
@if (totalPages > 1)
{
    <div class="row">
        <div class="large-12 column centreText">
            <ul>
                @if (page > 1)
                {
                    <a href="?page=@(page-1)" class="pg-lnk">
                        <li class="horizontal-list paging">
                            <
                        </li>
                    </a>
                }
                @for (int p = 1; p < totalPages + 1; p++)
                {
                    <a href="?page=@p" class="pg-lnk">
                        <li class="@(p == page ? "pg-active" : string.Empty) horizontal-list paging">
                            @p
                        </li>
                    </a>
                }
                @if (page < totalPages)
                {
                    <a href="?page=@(page+1)" class="pg-lnk">
                        <li class="horizontal-list paging">
                            >
                        </li>
                    </a>
                }
            </ul>
        </div>
    </div>
}