﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var children = CurrentPage.Children;
    var itemCount = 1;
    var page = 1;
    var pageSize = 2;
    int.TryParse(Request.QueryString["page"], out page);
    var totalPages = (int)Math.Ceiling((double)CurrentPage.Children.Count() / (double)pageSize);

    if (page > totalPages)
    {
        page = totalPages;
    }
    else if (page < 1)
    {
        page = 1;
    }

}

@foreach (var post in children.OrderBy("createDate desc").Where("Visible").Skip((page - 1) * pageSize).Take(pageSize))

{
    itemCount++;

    <section class="page-cta cta-green">

        @if (@post.contentimage != null && !(@post.contentimage is Umbraco.Core.Dynamics.DynamicNull))
        {
            var m = Umbraco.Media(@post.contentimage);

            <img class="wideImage fade-image" data-original="@m.Url" alt="@m.UrlName" />
        }

        else
        {
            var home = @CurrentPage.Site();
            <img class="wideImage fade-image" data-original="@Umbraco.Media(home.defaultImage.ToString()).Url" alt="" />
        }


        <div class="row">
            <div class="large-12 columns">
                @if (!post.HasValue("pageTitle"))
                {
                    <h2>@post.ctaItemTitle</h2>
                }
                else
                {
                    <h2>@post.pageTitle</h2>
                }
                <h3>@post.ContentText</h3>
                <h3>@post.pageSummary</h3>
                <a href="@post.Url" class="btn-go">@post.buttonText</a>
            </div>
        </div>
    </section>
}


@*//Just pagination display here.*@
@if (totalPages > 1)
{
    <div class="">
        <div class="">
            <ul>
                @if (page > 1)
                {
                    <li class="">
                        <a href="?page=@(page-1)" class="">Prev</a>
                    </li>
                }
                @for (int p = 1; p < totalPages + 1; p++)
                {
                    <li class="@(p == page ? "active" : string.Empty) ">
                        <a href="?page=@p" class="">@p</a>
                    </li>
                }
                @if (page < totalPages)
                {
                    <li class="">
                        <a href="?page=@(page+1)" class="">Next</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}