﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	
@{ 
    var home = @CurrentPage.Site();
    var children = CurrentPage.Children;
    var defaultMedia = Umbraco.Media(home.defaultImage.ToString());
}

@{ 
    if (CurrentPage.orderBy == "Created Date")
    {
        children = children.OrderBy("createDate desc");
    }
    else if (CurrentPage.orderBy == "Alphabetical")
    {
        children = children.OrderBy("ContentTitle");
    }
}

@foreach (var post in children.OrderBy("createDate desc"))
{
    <section class="page-cta cta-green">
        <a href="@post.Url" class="pnl-link">
            @if (@post.contentimage != null && !(@post.contentimage is Umbraco.Core.Dynamics.DynamicNull))
            {
                var m = Umbraco.Media(@post.contentimage);
                <img class="wideImage fade-image" data-original="@m.Url" alt="@m.UrlName" />
            }
            else
            {
                foreach (var item in defaultMedia.Children.Random(1))
                {
                    <img class="wideImage fade-image" data-original="@item.umbracoFile" alt="" src="@item.umbracoFile" alt="" />
                }
            }

            <div class="row">
                <div class="large-12 columns">
                    @if (!post.HasValue("pageTitle"))
                {
                        <h2>@post.ctaItemTitle</h2>
                    }
                    else
                    {
                        <h2>@post.pageTitle</h2>
                    }
                    <h3>@post.ContentText</h3>
                    <h3>@post.pageSummary</h3>
                    @if (post.HasValue("buttonText"))
                {
                        <a href="@post.Url" class="btn-go">@post.buttonText</a>
                    }
                    else
                    {
                        <a href="@post.Url" class="btn-go">Find Out More</a>
                    }

                </div>
            </div>
            </a>
</section>
}