﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var home = @CurrentPage.Site();
    var selection = CurrentPage.Site().Children.Where("Visible");
}

<div id="footer">
    <div class="row">
        <div class="large-8 columns">
            <a href="@home.Url" title="@home.name">
                <img src="@Umbraco.Media(home.siteLogo.ToString()).Url" alt="Kumquat Computing" />
            </a>
            <p>@home.companyText</p>
        </div>
        <div class="large-4 right columns">
            <nav id="footer-links">                
                <ul>
                    @foreach (var item in selection)
                    {
                        <li class="@(item.IsAncestorOrSelf(CurrentPage) ? "current" : null) @{@item.MenuColour}">
                            <a href="@item.Url">@item.Name</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>