﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var home = @CurrentPage.Site();
    var selection = CurrentPage.Site().Children.Where("Visible");
}

<h1>
    <a href="@home.Url">
        <img src="@Umbraco.Media(home.siteLogo.ToString()).Url" alt="Kumquat Computing" />
        <span>@home.siteTitle</span>
    </a>
</h1>
<a id="nav-toggle" href="#site-nav">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
</a>

<nav id="site-nav">
    <ul>
        @foreach (var item in selection)
        {
            if (CurrentPage.Url.StartsWith(item.Url))
            {
                <li class="@{@item.MenuColour} active">
                    <a href="@item.Url" class="headerLinkPadding">@item.Name</a>
                </li>
    }
    else
    {
        <li class="@(item.IsAncestorOrSelf(CurrentPage) ? " current":
            null) @{@item.MenuColour}">
            <a href="@item.Url" class="headerLinkPadding">@item.Name</a>
        </li>
        }
    }

        <li class="lnk-contact"><a href="#contact-us" title="Contact">Contact</a></li>
    </ul>
</nav>