﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ 
    var home = @CurrentPage.Site();
    var selection = CurrentPage.Site().Children.Where("Visible");
 }

<nav id="mobile-nav">
    <ul>        
        <li class="lnk-contact"><a href="#contact-us" title="Contact">Contact</a></li>

        @foreach (var item in selection)
        {
            <li class="@(item.IsAncestorOrSelf(CurrentPage) ? "current" : null) @{@item.MenuColour}">
                <a href="@item.Url">@item.Name</a>
            </li>
        }
    </ul>
</nav>