﻿<div class="umb-pane" ng-controller="uCommentator.AddBlacklist.controller">
    <div>
        <h4>Add Blacklist</h4><br />
        <label>Type</label>
        <select ng-model="data.type" ng-init="data.type = 'email'" class="form-control">
            <option value="email">Email</option>
            <option value="user">Username</option>
            <option value="domain">Domain</option>
            <option value="ip">IP Address</option>
        </select>
        <label>Value</label>
        <input type="text" class="form-control" ng-model="data.value" ng-init="data.value = ''"/>
        <label>Notes</label>
        <textarea ng-model="data.notes" rows="5" class="form-control" style="width:80%;">
        </textarea>
    </div>

    <div>
        <div class="umb-pane btn-toolbar umb-btn-toolbar">
            <div class="control-group umb-control-group">
                <a href="" class="btn btn-link" ng-click="cancel()">
                    <localize key="general_cancel">Cancel</localize>
                </a>
                <a href="" class="btn btn-danger" ng-click="addBlacklist(data)">
                    Add Blacklist
                </a>
            </div>
        </div>
    </div>
</div>
