﻿<div class="umb-pane" ng-controller="uCommentator.ConfirmationDialog.controller">
    <div ng-if="content === undefined">
        <p>
            <div ng-bind-html="message"></div>
        </p>

        <div>
            <div class="umb-pane btn-toolbar umb-btn-toolbar">
                <div class="control-group umb-control-group">
                    <a href="" class="btn btn-link" ng-click="cancel()">
                        <localize key="general_cancel">Cancel</localize>
                    </a>
                    <a href="" class="btn btn-primary" ng-click="ok()">
                        <localize key="general_ok">OK</localize>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="content">
        <p>
            <div ng-bind-html="content.message"></div>
        </p>

        <div>
            <div class="umb-pane btn-toolbar umb-btn-toolbar">
                <div class="control-group umb-control-group">
                    <a href="" class="btn btn-link" ng-click="cancel()">
                        <localize key="general_cancel">Cancel</localize>
                    </a>
                    <a href="" class="btn {{content.btnClass}}" ng-click="ok()">
                        {{content.btn}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
