﻿<div class="umb-pane" ng-controller="uCommentator.DeleteComment.controller">
    <p>
        Are you sure you want to delete this comment?<br />
        {{comment.thread.title}}<br />
        <strong>Name</strong>:<br />
        <small>{{comment.author.name}} - {{comment.author.email}}</small><br />
        <strong>Comment</strong>:<br />
        <small>{{comment.raw_message}}</small>
    </p>

    <div>
        <div class="umb-pane btn-toolbar umb-btn-toolbar">
            <div class="control-group umb-control-group">
                <a href="" class="btn btn-link" ng-click="cancelDelete()">
                    <localize key="general_cancel">Cancel</localize>
                </a>
                <a href="" class="btn btn-danger" ng-click="delete(comment.id)">
                    <localize key="general_delete">Delete</localize>
                </a>
            </div>
        </div>
    </div>
</div>
