﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var root = new umbraco.NodeFactory.Node(-1);
    var settings = root.ChildrenAsList.Where(x => x.NodeTypeAlias == "UcommentatorSettings").First();

    var shortname = settings.GetProperty<string>("shortname");
}

<div id="disqus_thread"></div>
<script type="text/javascript">
	var disqus_shortname = '@shortname';
    var disqus_identifier = '@Model.Content.Id';
    var disqus_config = function () {
        this.language = "@(System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName.ToLower())";
    };
    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>